@{
    var entryAssembly = Program.LoadedAssemblies.SingleOrDefault(x => x.IsEntryAssembly);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@entryAssembly.VersionInfo.FileDescription">
    <meta name="version" content="@entryAssembly.VersionInfo.ProductVersion" />
    <meta name="runtime" content="@Environment.Version" />
    <link rel="icon" type="image/png" href="~/media/favicon.png" />
    <link rel="stylesheet" type="text/css" href="~/css/app.css" />
    <script src="~/js/app.js" defer></script>
</head>

<body>
    @RenderBody()
</body>
</html>